name: Release Go Binary

on:
  push:
    tags:
      - 'v*.*.*' # Push events to matching v*.*, i.e. v1.0, v20.15.10

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to create releases
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # GoReleaser needs the full history to generate a changelog

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update Major Tag
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          TAG=${GITHUB_REF#refs/tags/}
          MAJOR=${TAG%%.*}
          if [[ "$TAG" == *"."* ]]; then
            git tag -fa $MAJOR -m "Update $MAJOR tag"
            git push origin $MAJOR --force
          fi
